img{
    margin: 0;
    padding: 0;
}

body{
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sns-login{

}

.btn{
    width: 472px;
    height: 50px;
    border: 1px solid #767676;
    border-radius: 5px;
    box-sizing: border-box;
    background-color:#fff;
    color: 767676;
    margin-bottom: 10px;

}

.btn img{
    /* margin-right: 138px; */
}

.btn p{
    text-align: center;
}
